<h1>Zmień przepis na danie</h1>

<%= render 'form' %>

<%= link_to 'Wróć do listy dań', dishes_path, class: "go_back_link" %>
<%= link_to 'Wyświetl szczegóły dania', @dish, class: "check_details_link" %>