/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    margin: 35px auto;
    width: 1200px;
    background-color: #EEE8C6;
    color: #464A53;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

nav {
    background-color:#464A53;
    height:70px;
}

nav h1 {
    font-family: Arial;
    font-size: 40px;
    color: #EEE8C6;
}

nav ul {
    font-family: Arial;
    font-size: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: block;
    position: relative;
    float: right;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 7px 15px 3px 15px;
    background: #339AAD;
    color: #EEE8C6;
    margin-left: 1px;
    white-space: nowrap;
    height:30px; /* Width and height of top-level nav items */
    width:115px;
    text-align:center;
}

nav ul li a:hover {
    background: #CC6371;
}

section {
    float: left;
    font-family: Arial;
}

.invalid input {
    border-color: red;
}

.invalid label{
    color: red;
}